/* Import Inter font */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

/* About page specific styles */

.section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2rem;
  background-color: var(--background-color);
  color: var(--text-color);
  border-radius: 8px;
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.1);
  margin: 2rem 0;
  padding: 0 1rem;
}
.img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.h1 {
  font-size: 48px;
  font-weight: 600;
  margin-bottom: 20px;
}

.h2 {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--text-color);
  margin-bottom: 0.5rem;
}

.p {
  font-size: 1rem;
  font-weight: 400;
  color: var(--text-color);
  margin-bottom: 1rem;
  line-height: 1.5;
}
.ul{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 0;
  margin: 0;
}

.li{
  list-style: none;
  font-size: 1rem;
  font-weight: 400;
  background-color: var(--background-color);
  color: var(--text-color);
  border-radius: 8px;
  box-shadow: 0 8px 10px rgba(21, 21, 21, 0.1);
  margin: 0.5rem;
  padding: 0.5rem;
}
@media (max-width: 600px) {
  .section {
    padding: 20px;
  }

  .h1 {
    font-size: 36px;
    margin-bottom: 10px;
  }

  .h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }

  .p {
    font-size: 16px;
    margin-bottom: 10px;
  }
}