/* Import Inter font */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

/* Footer specific styles */
.div {
  background-color: #fafafa;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #fafafa;
}

.svg {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.5rem;
  color: #0070f3;
  stroke: #0070f3;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 0.5rem;
  background-color: #fafafa;
}

.h2 {
  font-size: 1.2rem;
  font-weight: 400;
  color: #333;
  margin-bottom: 0.5rem;
}

.h5 {
  font-size: 1rem;
  font-weight: 600;
  color: #333;
  margin-bottom: 0.5rem;
}

.p {
  font-size: 0.875rem;
  font-weight: 400;
  color: #333;
  margin-bottom: 1rem;
}

.links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.a {
  font-size: 0.875rem;
  font-weight: 400;
  color: #232e3a;
  margin: 0.5rem;
  text-decoration: none;
}

.a:hover,
.a:focus {
  color: #0676f5;
}

@media (max-width: 768px) {
  .div {
    padding: 2rem 1rem;
  }

  .h2 {
    font-size: 1rem;
    margin-bottom: 0.25rem;
  }

  .h5 {
    font-size: 0.875rem;
    margin-bottom: 0.25rem;
  }

  .p {
    font-size: 0.75rem;
    margin-bottom: 0.5rem;
  }

  .links {
    flex-direction: column;
  }

  .a {
    font-size: 0.75rem;
    margin: 0.25rem;
  }
}